body {
          background-image: url('https://cutewallpaper.org/21/pixel-wallpaper-gif/Pixel-Animation-City-Skylines-GIF-by-iSaith-Gfycat.gif');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: 100% 100%;
        }